@font-face {
 font-family:RobotoRegular;
 src:url(../fonts/Roboto-Regular.a57b2d.eot);
 src:url(../fonts/Roboto-Regular.a57b2d.eot?#iefix) format("embedded-opentype"),
 url(../fonts/Roboto-Regular.516136.woff) format("woff"),
 url(../fonts/Roboto-Regular.f4219d.ttf) format("truetype");
 font-weight:400;
 font-style:normal
}
@font-face {
 font-family:MontserratBold;
 src:url(../fonts/Montserrat-Bold.eot);
 src:url(../fonts/Montserrat-Bold.eot?#iefix) format("embedded-opentype"),
 url(../fonts/Montserrat-Bold.woff) format("woff"),
 url(../fonts/Montserrat-Bold.ttf) format("truetype");
 font-weight:400;
 font-style:normal
}
@font-face {
 font-family:MontserratExtraBold;
 src:url(../fonts/Montserrat-ExtraBold.eot);
 src:url(../fonts/Montserrat-ExtraBold.eot?#iefix) format("embedded-opentype"),
 url(../fonts/Montserrat-ExtraBold.woff) format("woff"),
 url(../fonts/Montserrat-ExtraBold.ttf) format("truetype");
 font-weight:400;
 font-style:normal
}


body{	padding:0px;margin:0px;
	color:#404040;
	font-family:RobotoRegular;
}
h1,h2,h3,h4,h5,h6{
	
	color:#505050;
	font-family:MontserratExtraBold,MontserratBold;
}
main{
     padding:10px;
     display:flex;
     font-size:10pt;
     background-color:#f0f0f0;
}
.screen{
        display: none;
        height:100vh;
        width:80%;
        margin-left:90px;
}

.izq, .der{width:50%;}
.izq{ margin-right:5px;}
.der{ margin-left:5px;}

.activo{display:flex; !important;}


.screen h1{max-width:15%;display:none;}

nav{
 text-align:center;
  height: 100%;
  width: 320px;
  /*position: fixed;
  top: 0;
  left: 0;*/
  z-index: 1;         /* Stay on top */
  /*overflow-x: hidden;  Disable horizontal scroll */
  padding-top: 20px;
}
nav table{text-align:center;}


input[type=text]{
	width:auto;
        max-width:7em;
}

/*table tr:first-child td {
   font-size:9pt;
   color:grey;
}*/


table tr th:first-child {
   font-size:9pt;
   font-style:italic;
}





















.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  transition: all 0.3s;
}
.switch::after {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius:50%;
  background-color: white;
  top: 1px;
  left: 1px;
  transition: all 0.3s;
}

.checkbox:checked + .switch::after {
  left : 20px;
}
.checkbox:checked + .switch {
  background-color: #7983ff;
}
.checkbox {
  display : none;
}





/* SITE FOOTER */
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer
  {
    text-align:center
  }
}
.social-icons a.github:hover
{
  background-color:blue;
}

