@font-face {
 font-family:RobotoRegular;
 src:url(../fonts/Roboto-Regular.a57b2d.eot);
 src:url(../fonts/Roboto-Regular.a57b2d.eot?#iefix) format("embedded-opentype"),
 url(../fonts/Roboto-Regular.516136.woff) format("woff"),
 url(../fonts/Roboto-Regular.f4219d.ttf) format("truetype");
 font-weight:400;
 font-style:normal
}
@font-face {
 font-family:MontserratBold;
 src:url(../fonts/Montserrat-Bold.eot);
 src:url(../fonts/Montserrat-Bold.eot?#iefix) format("embedded-opentype"),
 url(../fonts/Montserrat-Bold.woff) format("woff"),
 url(../fonts/Montserrat-Bold.ttf) format("truetype");
 font-weight:400;
 font-style:normal
}
@font-face {
 font-family:MontserratExtraBold;
 src:url(../fonts/Montserrat-ExtraBold.eot);
 src:url(../fonts/Montserrat-ExtraBold.eot?#iefix) format("embedded-opentype"),
 url(../fonts/Montserrat-ExtraBold.woff) format("woff"),
 url(../fonts/Montserrat-ExtraBold.ttf) format("truetype");
 font-weight:400;
 font-style:normal
}

li{
list-style:none;
}

body{	padding:0px;
	margin:0px;
	color:#404040;
	font-family:RobotoRegular;
     background-color:#f7f7f7;
overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6{
	color:#505050;
	font-family:MontserratExtraBold,MontserratBold;
}

main{	
	padding:0px;
        display:block;
	margin:auto;
	height:100vh;
	max-width:1200px;
     font-size:10pt;
     background-color:#f7f7f7;
}
.screen{
	display:none;
       /* display: none;*/
        height:100%;
        width:100%;
  	text-align: center;
	align-items:center;
        transform: translateX(100%);
        -webkit-transform: translateX(100%);

/*	border: 2px solid yellow;*/
}

.activo {
    animation: slide-in 0.8s forwards;
    -webkit-animation: slide-in 0.8s forwards;
display:flex; !important;
}


.screen:first-child.activo{
	animation: fade-in-up 0.8s forwards;
	-webkit-animation: fade-in-up 0.8s forwards;
}

.screen h2{
	margin-top:25px;
    color: #2768ff;
}


/*
.izq, .der{width:50%;}
.izq{ margin-right:5px;}
.der{ margin-left:5px;}
*/









/* EFECTOS / TRANSICIONES */
@keyframes slide-in {
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateX(0%); }
}
@-webkit-keyframes fade-in-up {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fade-in-up {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


























#MENU-PRINCIPAL{
    align-items:center;
    text-align:center;
    height:100vh;
    flex-direction:column;
}
#MENU-PRINCIPAL h1{
    font-size:90px;
    border: 3px solid #606060;
    padding:10px;
    height:100px;
    width:500px;
    margin:0;
    margin-top:20vh;
}

#MENU-PRINCIPAL p{
    font-size:22px;
    max-width:75%;
	margin-top:10px;
    margin-bottom:20px;
    padding:10px;
    color: #2768ff;
}

#MENU-PRINCIPAL .grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
        max-height:40vh;
        padding:0px;
        max-width:70%;
	margin-bottom:50px;
	border-style:none;
}

#MENU-PRINCIPAL .grid-container > a {
  text-align: center;
  margin:15px;
  font-size: 30px;
	border: 2px solid #2768ff;
	max-width:200px;
	width:100%;
	padding-top:30px;
	padding-bottom:30px;
    color: #2768ff;
}

#MENU-PRINCIPAL .grid-container > a > li > h3{
    color: #2768ff;
}

#MENU-PRINCIPAL .grid-container > a > li{
	width:100%;	           
}
                                  
#MENU-PRINCIPAL .grid-container > a:hover >li>  h3,
#MENU-PRINCIPAL .grid-container > a:hover{
	opacity:0.8;                   
    	background-color: #2768ff;
	color:white;               
}                                       
                                        
#MENU-PRINCIPAL .grid-container > a> li >span{
	font-size:14px;
}





/*   */
#General{
	flex-direction:column;
}
#General ol{
	width:100%;
}
#General ol > li{
padding-top: 17px;
padding-bottom: 4px;
text-decoration: none;
font-size: 14px;
color:#616161;
letter-spacing: 0;
position: relative;
width: 60%;
-webkit-box-sizing: border-box;
box-sizing: border-box;
padding-right: 22px;

	margin:auto;
	padding:0px;
	/*border: 2px solid #606060;
	margin-bottom:20px;*/
	max-width:300px;
	list-style:none;
}


#General ol > li > input[type=date],
#General ol > li > input[type=text]{
background-color:rgba(0, 0, 0, 0);
color:rgba(0, 0, 0, 0.87);
cursor: inherit;
font: inherit;
margin-top: 14px;
margin-bottom: 16px;
box-sizing: border-box;
border-color: rgb(224, 224, 224);
border-style: none none solid;
border-width: medium medium 1px;
	font-size:18px;
	width:80%;
	text-align:center;
font-size: 0.97222vw;
padding-top: 1.18056vw;

}

#General ol > li > input[type=date]:focus,
#General ol > li > input[type=text]:focus{
	color:blue;
border-color: blue;
}


/* BOTON PARA IR A SIGUIENTE PANTALLA */
#botonSiguiente{ display:none;z-index:100;}
button.siguiente {
  position: absolute;
	bottom:0px;
	left:calc(50% - 1.5rem);
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
    grid-area: main;
    align-self: center;
    justify-self: center;
	margin-bottom:15px;
    width: 10rem;
    height: auto;
   border: none;
    outline:none;
}
button.siguiente > .circle {
  transition:all 0.45s cubic-bezier(0.65,0,.076,1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: black;
  border-radius: 1.625rem;
}
button.siguiente>.circle> .icon {
   transition:all 0.45s cubic-bezier(0.65,0,.076,1);
   position: absolute;
   top: 0;
   bottom: 0;
   margin: auto;
   background: white;
}
button.siguiente>.circle> .arrow {
   transition:all 0.45s cubic-bezier(0.65,0,.076,1);
   left: 0.625rem;
   width: 1.125rem;
   height: 0.125rem;
   background: none;
	
}
.arrow::before {
   position: absolute;
   content: '';
   top: -0.25rem;
   right: 0.0625rem;
   width: 0.625rem;
   height: 0.625rem;
   border-top: 0.125rem solid #fff;
   border-right: 0.125rem solid #fff;
   transform: rotate(45deg);
 }
.button-text {
      transition:all 1.45s cubic-bezier(0.65,0,.076,1);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0.75rem 0;
      margin: 0 0 0 1.85rem;
      color: white!important;
      font-weight: 700;
      line-height: 1.6;
      text-align: center;
      text-transform: uppercase;
	display:none;
}

button:hover.siguiente >.circle {
      width: 10rem;
}
button:hover.siguiente > .circle > .arrow {
        background: white;
        transform: translate(1rem, 0);
}
button:hover.siguiente > .button-text {
      color: white;
	display:block;
}





#Contaminantes{
	flex-direction:column;
}

#Contaminantes > div >.listaCompuestos_container {
	height:70vh;
	width: calc(50% - 10px);
	border-right: 1px solid black;
	margin-right:10px;
	
	

}
#Contaminantes > div > .listaCompuestos_container> .listaCompuestos{
	text-align:left;
	padding:10px;
}

#TablaContainer{
	height:70vh;
	width: calc(50% - 10px);
	padding:10px;
	margin-left:10px;
}
#COCsTable{
	width:100%!important;
}


table.dataTable tbody > tr{
	border-bottom: 2px solid blue!important;
}





#Fuente{
flex-direction:column;

}

#canvasContainer{
	vertical-align:top;
	width:100%;
}

#miCanvas{
  	width: 90%;
 	height:95%;
}


#gui{
	position:absolute;
	top:0;
	right:0;
}







#Mapa{

flex-direction:column;}



#SiteSpecificParams{

flex-direction:column; 

}


#SiteSpecificParams .container{
	display:flex;
	height:80%;
  
  
}

#SiteSpecificParams .container > div{
	margin:10px;
	padding:15px;
	min-width:300px;
	width: calc(33% - 20px);
	text-align:left;
	border-radius:5px;
	background-color:white;
	border-radius:5px;
	-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .22);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .22);

	float: left;

}






#Inputs{
	flex-direction:column;
}


#Inputs > nav{
position:relative;
	top:0;
	left:0;
}
#Inputs>nav>ol{
width:calc(600px + 20px);
	padding-right:10px;
	padding-left: 10px;
	padding-bottom:2px;
	padding-top:5px;
	margin:0px;
	margin-top:-5px;

border-radius:5px;
-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .22);
box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .22);
display:flex;flex-direction:row;
	
	height:25px;
	background-color:white;
}


#Inputs> nav >ol>li{
   display: inline;
	padding:5px;
	color:blue;
	opacity:0.8;
	width:150px;
}

#Inputs> nav >ol>li:hover,
#Inputs> nav >ol>li.active{
	opacity:1;
	border-bottom:1px solid blue;
}







.InputScreen{
	display:none;
}
.InputScreen.active{
	display:block;
}

























.sidebar{
	position:fixed;
 text-align:center;
  height: 100%;
  width: 370px;
	color:red;
  	background-color:yellow;
	opacity:0.4;/*position: fixed;
  top: 0;
  left: 0;*/
  z-index: 1;         /* Stay on top */
  /*overflow-x: hidden;  Disable horizontal scroll */
  padding-top: 10px;
	display:none;
}
.sidebar > table{text-align:center;}






/*STORY STEPER */
#StoryStepper{
	z-index:3;
    transform: translate3d(0px, 0px, 0px);
    /*cursor: default;
    user-select: none;*/
    visibility: inherit;
    opacity: 1;
    display: block;
    position: absolute;
    bottom: 16px;
	left:calc(50% - 350px);
	width:700px;
    background: rgba(255, 255, 255, .9);
	border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .22);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .22);
    -webkit-transform-origin: 50% 300%;
    transform-origin: 50% 300%;
	max-width:700px;
	margin:auto;
	padding: 0px 50px;
	padding-top: 0px;
	
display:none;
}

#StoryStepper.StoryStepper-step-text {
    padding: 0px 50px;
    padding-top: 18px;
	animation: fade-in-up 0.8s forwards;
	-webkit-animation: fade-in-up 0.8s forwards;


}

.StoryStepper-title {
    margin: 0;
	margin-top:20px;
        margin-bottom: 0px;
    font-weight: 500;
    color: #2768ff;
	opacity:0.8;
    font-size: 10px;
    margin-bottom: 4px;
    text-transform: uppercase;
}

#StoryStepper .StoryStepper-step-text h2 {
    margin: 0;
    margin-bottom: 0px;
    font-weight: 500;
    color: #2768ff;
    font-size: 27px;
    line-height: 26px;
    margin-bottom: 12px;
}

#StoryStepper .StoryStepper-step-text p {
    margin: 0;
    color: #9c9c9c;
    font-size: 14px;
    line-height: 18px;
}

#StoryStepper .StoryStepper-arrow-nav {
    width: 100%;
    height: 50px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
#StoryStepper .StoryStepper-arrow-nav .StoryStepper-step-arrow {
    position: relative;
    height: 100%;
    width: 50px;
    padding-left: 26px;
    padding-right: 11px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /*pointer-events: none;*/
    cursor: default;
}

#StoryStepper .StoryStepper-arrow-nav .StoryStepper-step-arrow svg {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 13px;
    height: 12px;
	opacity:.7;
}
#StoryStepper .StoryStepper-arrow-nav .StoryStepper-step-arrow:hover svg {
	opacity:1;
}
#StoryStepper .StoryStepper-progress-indicator {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-weight: 500;
    font-size: 12px;
    color: 
    #2768ff;
}
#StoryStepper .StoryStepper-progress-indicator .StoryStepper-progress-indicator-current {
    width: 28px;
    font-feature-settings: 'tnum';
    -webkit-font-feature-settings: 'tnum';
    -moz-font-feature-settings: 'tnum';
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
#StoryStepper .StoryStepper-progress-indicator .StoryStepper-progress-indicator-total {
    text-align: right;
    width: 28px;
}
#StoryStepper .StoryStepper-progress-indicator .StoryStepper-progress-indicator-bar {
    height: 2px;
    background:   #f0f0f0;
    position: relative;
    width: 100%;
}

#StoryStepper .StoryStepper-progress-indicator .StoryStepper-progress-indicator-bar .StoryStepper-progress-indicator-bar-progress {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background:     #4085f8;
	width:20%;
}




#botonDocumentacion-circle{
    width: 50px;
    height: 50px;
    position: absolute;/*fixed;*/
    right: 40px;
    bottom: 30px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    z-index: 3;
    margin-right: -1px;
    display: block;
}

#botonDocumentacion-circle > div{
position: absolute;
top: 0;
right: 0;
width: 100%;
height: 100%;
border-radius: 50%;
border: 2px solid
#cddbf2;
-webkit-box-sizing: border-box;
box-sizing: border-box;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
}

#botonDocumentacion-circle i{
  color: #2768ff;
	opacity:0.8;
}

#botonDocumentacion-circle:hover i{
	opacity:1;
}

#botonDocumentacion-circle span{
	transform: translate3d(8px, 0, 0);
   position: absolute;
   font-size: 15px;
   display: block;
   color:  #4085f8;
   white-space: nowrap;
   top: 16px;
   padding-right: 60px;
   right: 0;
   -webkit-transition: opacity 0.3s linear, cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
   transition: opacity 0.3s linear, cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
   opacity: 0;
}
#botonDocumentacion-circle:hover > span{
    opacity: 1;
}

/* ICONOS 100% CSS */


.icono_fold {
  position: absolute;	top:0px;right:0px;
  margin:20px;
  display: inline-block;
  vertical-align: middle;
  color: #2768ff;
	opacity:0.8;
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  border-width: 2px 2px 0 0;
  border-style: solid;
      transform: rotate(-225deg);
	
}
.icono_fold:hover{
	opacity:1;
}
.icono_fold.active{
      transform: rotate(-45deg);
}




.icono-arrow {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  color: #2768ff;
	opacity:0.8;
  box-sizing: border-box;
  width: 7px;
  height: 7px;
	padding:2px;
  border-width: 2px 2px 0 0;
  border-style: solid;
  margin: 5px;
}
.icono-arrow:hover{
	opacity:1;
}
.icono-arrow:after,
.icono-arrow:before {
  content: "";
  box-sizing: border-box;
}

  .icono-arrow:before {
    right: 0;
    top: -2px;
    position: absolute;
    height: 2px;
    box-shadow: inset 0 0 0 32px;
    transform: rotate(-45deg);
    width: 11px;
    transform-origin: right top;
  }
  .icono-arrow.left{
    transform: rotate(45deg);
  }
  .icono-arrow.right{
    transform: rotate(-135deg);
  }
  .icono-arrow.up{
    transform: rotate(-45deg);
  }
  .icono-arrow.down{
    transform: rotate(135deg);
  }




/* SITE FOOTER */
.site-footer
{
	margin-top:10px;
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer
  {
    text-align:center
  }
}
.social-icons a.github:hover
{
  background-color:blue;
}
